@import "../utilities/variables";

.contact-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 100px;
  padding-bottom: 100px;
  align-items: center;
  justify-content: center;

  .contact {
    grid-column: 1/3;
    text-align: center;
  }

  img {
    grid-column: 1/3;
  }
}

@media (min-width: 768px) {
  .contact-wrap {
    .contact {
      grid-column: 1/2;
    }

    img {
      grid-column: 2/3;
    }
  }
}
