footer {
  background-color: black;
  padding-top: 50px;

  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  * {
    color: #888888;
  }
}

.btn {
  &:focus,
  &:active {
    outline: none !important;
    box-shadow: none !important;
  }
}

.newsletter .form-control {
  border: white;

  &:focus {
    box-shadow: none;
  }
}

.name {
  color: white;
  font-weight: bold;
}

.title {
  color: white;
  font-weight: bold;
  margin-bottom: 15px;
}

.brand {
  grid-column: 1/5;
  margin-bottom: 50px;
}

.navigation {
  margin-bottom: 50px;
}

.start {
  margin-bottom: 50px;
  grid-column: 1/5;
}

.newsletter {
  grid-column: 1/5;
  margin-bottom: 50px;
}

.social {
  grid-column: 1/5;
  justify-self: center;
  text-align: center;

  a:nth-of-type(2) {
    margin: 0 15px;
  }

  i {
    color: white;
  }
}

.copyright {
  grid-column: 1/5;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    margin-bottom: 5px;
  }
}

#button-addon2 {
  background-color: white;
  border: none;
  color: black;

  i {
    color: black;
    width: 100%;
    height: 100%;
  }

  &:hover i {
    color: #007bff;
  }
}

footer a {
  color: #888888;

  &:hover {
    text-decoration: none;
    color: #cccccc;
  }
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .brand {
    grid-column: 1/5;
  }

  .navigation {
    grid-column: 1/3;
  }

  .start {
    grid-column: 3/5;
  }

  .newsletter {
    grid-column: 1/5;
  }
}

@media (min-width: 992px) {
  footer {
    padding-top: 100px;
  }

  .brand {
    grid-column: 1/2;
    margin-bottom: 0;
  }

  .navigation {
    grid-column: 2/3;
    margin-bottom: 0;
  }

  .start {
    grid-column: 3/4;
    margin-bottom: 0;
  }

  .newsletter {
    grid-column: 4/5;
  }

  .social {
    margin-top: 25px;
  }
}

@media (min-width: 1200px) {
}
