@import "../utilities/variables";

.sign-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
  justify-content: center;
}

.signup {
  grid-column: 1/4;
  text-align: center;
}

.signup-form {
  display: grid;
  grid-template-columns: minmax(auto, 142.5px) minmax(auto, 142.5px);
  grid-column-gap: 15px;
  margin-top: 25px;
  margin-bottom: 50px;
  grid-row-gap: 15px;
  justify-content: center;
}

.fName,
.lName,
.sign-email,
.sign-password,
.sign-phone,
.signup-btn {
  grid-column: 1/3;
}

.sign-img {
  grid-column: 1/4;
}

@media (min-width: 992px) {
  .sign-wrap {
    grid-column-gap: 50px;
  }

  .fName {
    grid-column: 1/2;
  }

  .lName {
    grid-column: 2/3;
  }

  .signup {
    grid-column: 1/2;
  }

  .sign-img {
    grid-column: 2/4;
  }

  .signup-form {
    margin-bottom: 0;
  }
}
