* {
  color: #888888;
}

footer {
  background-color: black;
  padding-top: 50px;
}

footer .container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none !important;
}

.name {
  color: white;
  font-weight: bold;
}

.title {
  color: white;
  font-weight: bold;
  margin-bottom: 15px;
}

.brand {
  grid-column: 1/7;
  margin-bottom: 50px;
}

.navigation {
  grid-column: 1/7;
  margin-bottom: 50px;
}

.newsletter {
  grid-column: 1/7;
}

.copyright {
  grid-column: 1/7;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  margin-bottom: 5px;
}

img {
  grid-column: 1/7;
  justify-self: center;
}

#button-addon2 {
  background-color: white;
  border: none;
  color: black;
}

#button-addon2 i {
  color: black;
  width: 100%;
  height: 100%;
}

#button-addon2:hover i {
  color: #007bff;
}

a {
  color: #888888;
}

a:hover {
  text-decoration: none;
  color: #cccccc;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .brand {
    grid-column: 1/4;
  }

  .navigation {
    grid-column: 4/7;
  }

  .newsletter {
    grid-column: 1/7;
  }

  img {
    width: 75%;
  }
}

@media (min-width: 992px) {
  footer {
    padding-top: 100px;
  }

  .brand {
    grid-column: 1/3;
    margin-bottom: 0;
  }

  .navigation {
    grid-column: 3/5;
    margin-bottom: 0;
  }

  .newsletter {
    grid-column: 5/7;
  }

  img {
    width: 50%;
  }
}

@media (min-width: 1200px) {
}
