.jumbotron {
  background-color: white;
}

header div.container div.content {
  margin-bottom: 50px;
  text-align: center;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  header div.container {
    display: flex;
    align-items: center;
  }

  header div.container div.content {
    flex: 1;
    margin-bottom: 0;
    text-align: left;
  }

  header div.container img {
    flex: 1;
    margin-left: 25px;
  }
}

@media (min-width: 1200px) {
}
